<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|rst_controller_001|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|rst_controller_001|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|rst_controller_001</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|rst_controller|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|rst_controller|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|rst_controller</TD>
<TD >33</TD>
<TD >30</TD>
<TD >0</TD>
<TD >30</TD>
<TD >2</TD>
<TD >30</TD>
<TD >30</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|irq_mapper</TD>
<TD >3</TD>
<TD >31</TD>
<TD >2</TD>
<TD >31</TD>
<TD >32</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_006|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_006</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_005|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_005</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_004|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_004</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_003|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_003</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_002|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_002</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_001|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter_001</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter|error_adapter_0</TD>
<TD >38</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >37</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|avalon_st_adapter</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_mux_001|arb|adder</TD>
<TD >12</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_mux_001|arb</TD>
<TD >7</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_mux_001</TD>
<TD >324</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >110</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_mux|arb|adder</TD>
<TD >28</TD>
<TD >14</TD>
<TD >0</TD>
<TD >14</TD>
<TD >14</TD>
<TD >14</TD>
<TD >14</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_mux|arb</TD>
<TD >11</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_mux</TD>
<TD >752</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >114</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_demux_006</TD>
<TD >111</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >215</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_demux_005</TD>
<TD >110</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >108</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_demux_004</TD>
<TD >110</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >108</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_demux_003</TD>
<TD >110</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >108</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_demux_002</TD>
<TD >111</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >215</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_demux_001</TD>
<TD >110</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >108</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|rsp_demux</TD>
<TD >111</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >215</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_006|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_006|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_006</TD>
<TD >217</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >109</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_005</TD>
<TD >110</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_004</TD>
<TD >110</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_003</TD>
<TD >110</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_002|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_002|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_002</TD>
<TD >217</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >109</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux_001</TD>
<TD >110</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_mux</TD>
<TD >217</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >109</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_demux_001</TD>
<TD >118</TD>
<TD >9</TD>
<TD >6</TD>
<TD >9</TD>
<TD >322</TD>
<TD >9</TD>
<TD >9</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|cmd_demux</TD>
<TD >116</TD>
<TD >49</TD>
<TD >2</TD>
<TD >49</TD>
<TD >750</TD>
<TD >49</TD>
<TD >49</TD>
<TD >49</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_instruction_master_limiter</TD>
<TD >218</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >222</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_008|the_default_decode</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_008</TD>
<TD >103</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_007|the_default_decode</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_007</TD>
<TD >103</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_006|the_default_decode</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_006</TD>
<TD >103</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_005|the_default_decode</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_005</TD>
<TD >103</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_004|the_default_decode</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_004</TD>
<TD >103</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_003|the_default_decode</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_003</TD>
<TD >103</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_002|the_default_decode</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_002</TD>
<TD >103</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_001|the_default_decode</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router_001</TD>
<TD >103</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router|the_default_decode</TD>
<TD >0</TD>
<TD >10</TD>
<TD >0</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|router</TD>
<TD >103</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|mm_s1_agent_rsp_fifo</TD>
<TD >143</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >102</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|mm_s1_agent|uncompressor</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >35</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|mm_s1_agent</TD>
<TD >286</TD>
<TD >39</TD>
<TD >44</TD>
<TD >39</TD>
<TD >303</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|generator_s0_agent_rsp_fifo</TD>
<TD >143</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >102</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|generator_s0_agent|uncompressor</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >35</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|generator_s0_agent</TD>
<TD >286</TD>
<TD >39</TD>
<TD >44</TD>
<TD >39</TD>
<TD >303</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|packet_s0_agent_rsp_fifo</TD>
<TD >143</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >102</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|packet_s0_agent|uncompressor</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >35</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|packet_s0_agent</TD>
<TD >286</TD>
<TD >39</TD>
<TD >44</TD>
<TD >39</TD>
<TD >303</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|udp_payload_inserter_s0_agent_rsp_fifo</TD>
<TD >143</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >102</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|udp_payload_inserter_s0_agent|uncompressor</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >35</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|udp_payload_inserter_s0_agent</TD>
<TD >286</TD>
<TD >39</TD>
<TD >44</TD>
<TD >39</TD>
<TD >303</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_debug_mem_slave_agent_rsp_fifo</TD>
<TD >143</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >102</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_debug_mem_slave_agent|uncompressor</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >35</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_debug_mem_slave_agent</TD>
<TD >286</TD>
<TD >39</TD>
<TD >44</TD>
<TD >39</TD>
<TD >303</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|tse_control_port_agent_rsp_fifo</TD>
<TD >143</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >102</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|tse_control_port_agent|uncompressor</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >35</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|tse_control_port_agent</TD>
<TD >286</TD>
<TD >39</TD>
<TD >44</TD>
<TD >39</TD>
<TD >303</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|jtag_uart_avalon_jtag_slave_agent_rsp_fifo</TD>
<TD >143</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >102</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|jtag_uart_avalon_jtag_slave_agent|uncompressor</TD>
<TD >37</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >35</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|jtag_uart_avalon_jtag_slave_agent</TD>
<TD >286</TD>
<TD >39</TD>
<TD >44</TD>
<TD >39</TD>
<TD >303</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_instruction_master_agent</TD>
<TD >174</TD>
<TD >37</TD>
<TD >76</TD>
<TD >37</TD>
<TD >135</TD>
<TD >37</TD>
<TD >37</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_data_master_agent</TD>
<TD >174</TD>
<TD >37</TD>
<TD >76</TD>
<TD >37</TD>
<TD >135</TD>
<TD >37</TD>
<TD >37</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|mm_s1_translator</TD>
<TD >104</TD>
<TD >7</TD>
<TD >4</TD>
<TD >7</TD>
<TD >90</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|generator_s0_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >19</TD>
<TD >6</TD>
<TD >74</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|packet_s0_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >19</TD>
<TD >6</TD>
<TD >74</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|udp_payload_inserter_s0_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >17</TD>
<TD >6</TD>
<TD >76</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_debug_mem_slave_translator</TD>
<TD >104</TD>
<TD >5</TD>
<TD >12</TD>
<TD >5</TD>
<TD >82</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|tse_control_port_translator</TD>
<TD >104</TD>
<TD >5</TD>
<TD >13</TD>
<TD >5</TD>
<TD >76</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|jtag_uart_avalon_jtag_slave_translator</TD>
<TD >104</TD>
<TD >5</TD>
<TD >23</TD>
<TD >5</TD>
<TD >70</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_instruction_master_translator</TD>
<TD >105</TD>
<TD >51</TD>
<TD >2</TD>
<TD >51</TD>
<TD >98</TD>
<TD >51</TD>
<TD >51</TD>
<TD >51</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0|niosfast_data_master_translator</TD>
<TD >105</TD>
<TD >12</TD>
<TD >0</TD>
<TD >12</TD>
<TD >97</TD>
<TD >12</TD>
<TD >12</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm_interconnect_0</TD>
<TD >311</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >371</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|udp_payload_inserter|outpipe</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|udp_payload_inserter</TD>
<TD >80</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >71</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|rst_controller_001|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|rst_controller_001|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|rst_controller_001</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|rst_controller|alt_rst_req_sync_uq1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|rst_controller|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|rst_controller</TD>
<TD >33</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >1</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|i_tse_pcs_0</TD>
<TD >46</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >50</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|avalon_arbiter</TD>
<TD >1244</TD>
<TD >1150</TD>
<TD >0</TD>
<TD >1150</TD>
<TD >98</TD>
<TD >1150</TD>
<TD >1150</TD>
<TD >1150</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse|i_tse_mac</TD>
<TD >134</TD>
<TD >23</TD>
<TD >0</TD>
<TD >23</TD>
<TD >125</TD>
<TD >23</TD>
<TD >23</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|tse</TD>
<TD >87</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|sc_fifo_0</TD>
<TD >57</TD>
<TD >40</TD>
<TD >0</TD>
<TD >40</TD>
<TD >15</TD>
<TD >40</TD>
<TD >40</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|packet</TD>
<TD >57</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|niosfast|cpu</TD>
<TD >150</TD>
<TD >1</TD>
<TD >31</TD>
<TD >1</TD>
<TD >117</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|niosfast</TD>
<TD >150</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >116</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm|the_altsyncram|auto_generated|mux2</TD>
<TD >163</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm|the_altsyncram|auto_generated|decode3</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm|the_altsyncram|auto_generated</TD>
<TD >56</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|mm</TD>
<TD >59</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r|rfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r|rfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_r</TD>
<TD >13</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w|wfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w|wfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart|the_niosf_tx_tse_125mhz_jtag_uart_scfifo_w</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|jtag_uart</TD>
<TD >38</TD>
<TD >10</TD>
<TD >23</TD>
<TD >10</TD>
<TD >34</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst|generator</TD>
<TD >43</TD>
<TD >30</TD>
<TD >35</TD>
<TD >30</TD>
<TD >46</TD>
<TD >30</TD>
<TD >30</TD>
<TD >30</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >niosf_tx_tse_125mhz_inst</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pll_inst|altpll_component|auto_generated</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >11</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pll_inst</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
